server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    com.codeit.cache: debug
    org.springframework.cache: DEBUG
    org.springframework.cache.interceptor: TRACE   # 캐시 Interceptor 상세

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,caches

  endpoint:
    health:
      show-details: always
    caches:
      enabled: true

  metrics:
    tags:
      application: cache-demo
    enable:
      cache: true
