spring:
  datasource:
    url: jdbc:h2:mem:my_blog;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  elasticsearch:
    uris: http://localhost:9200

  h2:
    console:
      enabled: true
      path: /h2-console
